@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html {
  font-family: 'Montserrat', 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
  transition: all 0.6s cubic-bezier(0, 0, 0, 0.99);
}

a:hover {
  color: #888;
}

.home_header {
  transition: all 0.5s;
  opacity: 1;
  transform: translateY(0);
}

.home_header.hide {
  opacity: 0;
  transform: translateY(-100%);
}
